@import "tailwindcss";

/* Optional custom styles */

html, body, #root {
  height: 100%;
  margin: 0;
}

/* Leaflet map fix */
.leaflet-container {
  height: 100%;
  width: 100%;
  border-radius: 12px;
}

/* Popup styling */
.leaflet-popup-content-wrapper {
  border-radius: 10px;
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #93c5fd;
  border-radius: 10px;
}

.pulse-zone {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.6;
  }
}

.leaflet-marker-icon {
  transition: transform 0.8s linear;
}